.landingCategories {
  @include flex(column, center, center);

  .categoryHeading {
    @include flex(column, center, center);

    .explore {
      @include shadow();
      @include border();

      background-color: $bg-card-dark;
      padding: $sp-sm;
      border-radius: $br-xxxxl;
      color: $tc-light-2;
      font-weight: $fw-medium;
      font-size: $fs-sm;
    }

    .exploreTitle {
      @include lg-max {
        font-size: $fs-xl;
      }

      font-size: $fs-xxl;
      font-weight: $fw-bold;
      color: $tc-light;
      margin-top: $sp-md;
    }

    .exploreDescp {
      
      font-size: $fs-md;
      font-weight: $fw-light;
      color: $tc-light-2;
      margin-top: $sp-sm;
    }
  }

  .categoryItems {
    @include grid(repeat(3, 1fr));
    @include lg-max {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md-max {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm-max {
      grid-template-columns: repeat(1, 1fr);
    }

    margin-top: $sp-lg;
  }
}
